<div class="conainer text-center">
	<h1 class="">Editing Photgram</h1>
	
	<div class="col-md-6">
		<%= image_tag @photgram.image.url(:medium), :style => "margin-top:5%; width:240px; height:250px; border-radius:50%;" %>
	</div>

	<div class="col-md-6">
		<%= render 'form' %>

		<%= link_to 'Back', photgrams_path, class: "btn btn-primary" %> |
	<%if @photgram.user == current_user  %>
	<%= link_to 'Delete', @photgram.destroy %>
	<%end%>
	</div>


</div>