<h1>Editing Photgram</h1>

<%= render 'form' %>

<%= link_to 'Show', @photgram %> |
<%if @photgram.user == current_user  %>
<%= link_to 'Back', photgrams_path %> |
<%= link_to 'Delete', @photgram.destroy %>
<%end%>